<div class="container">
  <div class="row">
    <p class="index-text ps-0">
      <span>Iniciar sesión</span>
    </p>

    <div class="container-fluid">
      <div class="container-fluid access-custom">
        <div class="div-access">
          <span class="butt1"
            ><button
              type="button"
              class="btn btn-outline-secondary button1 mt-4"
            >
              Acceder con Facebook
            </button></span
          >
          <span class="butt1"
            ><button
              type="button"
              class="btn btn-outline-secondary button1 mt-2"
            >
              Acceder con Gmail
            </button></span
          >
          <span class="butt1"
            ><input
              type="email"
              class="form-control button1 mt-2"
              id="InputEmail1"
              aria-describedby="emailHelp"
              placeholder="Ingresar usuario..."
          /></span>
          <span class="butt1"
            ><input
              type="password"
              class="form-control button1 mt-2"
              id="InputPassword1"
              placeholder="Contraseña..."
          /></span>
        </div>

        <ul class="butt1 px-0 pt-4 pb-2">
          <li>
            <a class="forgot-hiperv" href="#">¿Olvidaste la contraseña?</a>
          </li>
        </ul>
        <ul class="butt1 px-0 pt-4 pb-2">
          <li>
            <a class="forgot-hiperv" [routerLink]="'/register'"
              >Si aún no tiene una cuenta. Registrate aquí</a
            >
          </li>
        </ul>

        <div class="form2">
          <div>
            <ul class="px-0">
              <button type="button" class="btn btn-primary button6">
                Iniciar Sesión
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
